<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xp.dao.BloggerDao" >
    <!--
          返回结果映射
          如果开启驼峰命名转换且命名规范该段代码可以不写
          因为配置别名 所以type属性使用的是mybatis-conf中的别名
          -->
    <resultMap type="Blogger" id="BloggerResult">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="sign" property="sign" jdbcType="VARCHAR" />
        <result column="imagename" property="imagename" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
    </resultMap>
    <!--  定义字段集合 -->
    <sql id="BloggerColumns">
      id, username, password, nickname, sign, imagename, address, email,profile
    </sql>
    <!-- 接口中getBloggerData 具体实现-->
    <select id="getBloggerData" resultMap="BloggerResult">
        select <include refid="BloggerColumns"/> from t_blogger where id = 1
    </select>
    <select id="getBloggerByName" parameterType="java.lang.String" resultMap="BloggerResult">
        SELECT <include refid="BloggerColumns"/> from t_blogger
        where username=#{username}
    </select>
    <update id="updateBlogger" parameterType="Blogger">
        update t_blogger
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sign != null" >
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="imagename != null" >
                imagename = #{imagename,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="profile != null" >
                profile = #{profile,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = 2
    </update>
</mapper>